In [1]:
import numpy as np
import pandas as pd
from util import *

%load_ext autoreload

In [2]:
%reload_ext autoreload

## Run to generate train & test csv with features

In [3]:
train = pd.read_csv('../data/raw/train.csv')
test = pd.read_csv('../data/raw/test.csv')

In [4]:
train = process_basic(train)
test = process_basic(test)

In [5]:
train = process_flat_type(train)
test = process_flat_type(test)

In [6]:
comm = pd.read_csv("../data/processed/comm-dist-matrix.csv")
hawker = pd.read_csv("../data/processed/hawker-dist-matrix.csv")
mall = pd.read_csv("../data/processed/mall-dist-matrix.csv")
psch = pd.read_csv("../data/processed/psch-dist-matrix.csv")
ssch = pd.read_csv("../data/processed/ssch-dist-matrix.csv")
stations = pd.read_csv("../data/processed/stations-dist-matrix.csv")

In [7]:
test_comm = pd.read_csv("../data/processed/test-comm-dist-matrix.csv")
test_hawker = pd.read_csv("../data/processed/test-hawker-dist-matrix.csv")
test_mall = pd.read_csv("../data/processed/test-mall-dist-matrix.csv")
test_psch = pd.read_csv("../data/processed/test-psch-dist-matrix.csv")
test_ssch = pd.read_csv("../data/processed/test-ssch-dist-matrix.csv")
test_stations = pd.read_csv("../data/processed/test-stations-dist-matrix.csv")

In [8]:
train = count_poi(train, ssch, 1, 'nbr_ssch_1k')
train = count_poi(train, psch, 1, 'nbr_psch_1k')
train = count_poi(train, mall, 1, 'nbr_mall_1k')
train = count_poi(train, hawker, 1, 'nbr_hawker_1k')
train = count_poi(train, comm, 1, 'nbr_comm_1k')
train = count_poi(train, stations, 1, 'nbr_station_1k')

In [9]:
test = count_poi(test, test_ssch, 1, 'nbr_ssch_1k')
test = count_poi(test, test_psch, 1, 'nbr_psch_1k')
test = count_poi(test, test_mall, 1, 'nbr_mall_1k')
test = count_poi(test, test_hawker, 1, 'nbr_hawker_1k')
test = count_poi(test, test_comm, 1, 'nbr_comm_1k')
test = count_poi(test, test_stations, 1, 'nbr_station_1k')

In [10]:
train = drop_cols(train)
test = drop_cols(test)

In [11]:
test

,floor_area_sqm,lease_duration,storey,flat_model_adjoined flat,flat_model_apartment,flat_model_dbss,flat_model_improved,flat_model_improved maisonette,flat_model_maisonette,flat_model_model a,...,flat_type_4 room,flat_type_5 room,flat_type_executive,flat_type_multi generation,nbr_ssch_1k,nbr_psch_1k,nbr_mall_1k,nbr_hawker_1k,nbr_comm_1k,nbr_station_1k
0,94.0,15,5.0,0,0,0,0,0,0,0,...,1,0,0,0,4,3,2,2,1,2
1,122.0,4,5.0,0,0,0,1,0,0,0,...,0,1,0,0,3,2,0,0,0,0
2,67.0,20,2.0,0,0,0,0,0,0,0,...,0,0,0,0,1,2,4,1,1,1
3,82.0,34,5.0,0,0,0,0,0,0,0,...,0,0,0,0,3,2,3,3,0,1
4,117.0,26,2.0,0,0,0,0,0,0,0,...,0,1,0,0,5,2,3,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107929,110.0,5,11.0,0,0,0,1,0,0,0,...,0,1,0,0,2,2,2,1,0,0
107930,102.0,7,14.0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,1,3,0,1
107931,68.0,21,8.0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,15,1,2,2
107932,104.0,21,11.0,0,0,0,0,0,0,1,...,1,0,0,0,1,2,0,0,0,0
107933,90.0,9,5.0,0,0,0,0,0,0,1,...,1,0,0,0,2,7,1,0,0,3

In [12]:
train

,floor_area_sqm,resale_price,lease_duration,storey,flat_model_adjoined flat,flat_model_apartment,flat_model_dbss,flat_model_improved,flat_model_improved maisonette,flat_model_maisonette,...,flat_type_4 room,flat_type_5 room,flat_type_executive,flat_type_multi generation,nbr_ssch_1k,nbr_psch_1k,nbr_mall_1k,nbr_hawker_1k,nbr_comm_1k,nbr_station_1k
0,118.0,209700.0,12,2.0,0,0,0,0,0,0,...,1,0,0,0,5,6,1,2,1,1
1,110.0,402300.0,11,11.0,0,0,0,1,0,0,...,0,1,0,0,6,8,4,0,0,2
2,112.0,351000.0,16,2.0,0,0,0,0,0,0,...,0,1,0,0,1,2,2,0,0,0
3,67.0,151200.0,20,8.0,0,0,0,0,0,0,...,0,0,0,0,2,2,3,2,0,1
4,73.0,318600.0,28,8.0,0,0,0,0,0,0,...,0,0,0,0,2,2,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431727,101.0,238500.0,5,2.0,0,0,0,0,0,0,...,1,0,0,0,3,5,2,0,0,1
431728,95.0,376200.0,4,14.0,0,0,0,0,0,0,...,1,0,0,0,1,2,3,0,0,0
431729,67.0,255600.0,25,2.0,0,0,0,0,0,0,...,0,0,0,0,3,4,1,1,0,0
431730,123.0,508500.0,14,17.0,0,0,0,1,0,0,...,0,1,0,0,4,5,3,0,0,2
431731,104.0,162000.0,18,2.0,0,0,0,0,0,0,...,1,0,0,0,2,3,2,0,0,1

In [13]:
train.to_csv("../data/processed/train.csv")

In [14]:
test.to_csv("../data/processed/test.csv")