In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from joblib import dump, load

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV, train_test_split

from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.experimental import enable_hist_gradient_boosting 
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.metrics import mean_squared_error

seed = 42

In [72]:
train = pd.read_csv("../data/processed/train.csv")
print(train.shape)
train.head()

(431732, 88)

,Unnamed: 0,floor_area_sqm,resale_price,lease_duration,storey,flat_model_adjoined flat,flat_model_apartment,flat_model_dbss,flat_model_improved,flat_model_improved maisonette,...,mall_nearest_dist,hawker_nearest_dist,comm_nearest_dist,station_nearest_dist,nbr_ssch_1k,nbr_psch_1k,nbr_mall_1k,nbr_hawker_1k,nbr_comm_1k,nbr_station_1k
0,0,118.0,209700.0,12,2.0,0,0,0,0,0,...,1.032567,0.944966,2.312122,1.136808,5,6,1,2,1,1
1,1,110.0,402300.0,11,11.0,0,0,0,1,0,...,0.805534,3.780019,1.461516,0.823036,6,8,4,0,0,2
2,2,112.0,351000.0,16,2.0,0,0,0,0,0,...,0.452272,1.802808,1.444013,2.229299,1,2,2,0,0,0
3,3,67.0,151200.0,20,8.0,0,0,0,0,0,...,0.456213,0.617904,2.385591,0.423055,2,2,3,2,0,1
4,4,73.0,318600.0,28,8.0,0,0,0,0,0,...,0.763692,0.761443,1.805955,0.773734,2,2,1,1,0,1

In [73]:
test = pd.read_csv("../data/processed/test.csv")
print(test.shape)
test.head()

(107934, 87)

,Unnamed: 0,floor_area_sqm,lease_duration,storey,flat_model_adjoined flat,flat_model_apartment,flat_model_dbss,flat_model_improved,flat_model_improved maisonette,flat_model_maisonette,...,mall_nearest_dist,hawker_nearest_dist,comm_nearest_dist,station_nearest_dist,nbr_ssch_1k,nbr_psch_1k,nbr_mall_1k,nbr_hawker_1k,nbr_comm_1k,nbr_station_1k
0,0,94.0,15,5.0,0,0,0,0,0,0,...,0.693506,0.792309,1.749017,0.667130,4,3,2,2,1,2
1,1,122.0,4,5.0,0,0,0,1,0,0,...,1.932765,2.069274,1.818631,1.832348,3,2,0,0,0,0
2,2,67.0,20,2.0,0,0,0,0,0,0,...,0.524283,0.787872,0.928551,0.517931,1,2,4,1,1,1
3,3,82.0,34,5.0,0,0,0,0,0,0,...,0.828608,0.957000,2.026039,0.546579,3,2,3,3,0,1
4,4,117.0,26,2.0,0,0,0,0,0,0,...,0.604285,0.112928,1.826417,0.515554,5,2,3,2,0,1

In [74]:
y = train.resale_price
X = train.drop(columns=['resale_price'])
predictors = X.columns
print(X.shape)
print(y.shape)

sc = StandardScaler()
X = sc.fit_transform(X)
test = sc.transform(test)

(431732, 87)
(431732,)

In [75]:
# SPECIFY MODEL HERE
clf=GradientBoostingRegressor(learning_rate = 0.05, n_estimators= 200, max_depth=25, min_samples_split=32, random_state=seed)

In [76]:
clf.fit(X, y)
y_pred = clf.predict(test)

In [77]:
out = pd.DataFrame(data=y_pred).reset_index()
out.columns = ['Id', 'Predicted']
out.to_csv(f'../data/processed/submission_{datetime.now().strftime("%Y%m%d_%H%M%S")}.csv', index=False)

In [78]:
# dump(clf, 'gbm_19k.joblib')

In [79]:
out

            Id      Predicted
0            0  195164.994240
1            1  317329.939207
2            2  123639.923226
3            3  341470.978892
4            4  318669.922690
...        ...            ...
107929  107929  341527.729105
107930  107930  303170.432632
107931  107931  169491.441879
107932  107932  244542.733848
107933  107933  336505.425805

[107934 rows x 2 columns]